*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.banner{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75), rgba(51,52,53,0.75)),url(/bg.jpg);
   background-size: cover;
   background-position: center;
}
.nav{
   width: 85%;
   margin: auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content:space-between;
}
.logo{
width: 180px;
cursor: pointer;
}

.nav ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative;
}
.nav ul li a{
   text-decoration: none;
   color: #49a1d4;
   font-size: 20px;
   font-weight: bold;
}
.nav ul li a:hover{
   color: #fff;
}
.nav ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: #4776a3;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}
.nav ul li:hover:after{
   width: 100%;
}
/* .menu{
   width: 80px;
   display: inline-block;
   cursor: pointer;
   margin-top: 6px;
   display: none;
} */
.content{
   width: 100%;
   position: absolute;
   top: 55%;
   transform: translateY(-45%);
   text-align: center;
   color: #fff;
}
.content h1{
   font-size: 40px;
   margin-top: 80px;
}
.content p{
   color: #fffdee;
   font-size: 20px;
   margin: 20px auto;
   font-weight: 100;
   line-height: 25px;
}
#pr{
   color: #c05e25;
   font-weight: bold;
   font-size: 22px;   
}
span{
   color: #4776a3;
}
button{
   width: 185px;
   padding: 10px 0;
   text-align: center;
   margin: 20px 10px;
   border-radius: 25px;
   border: 2px solid #4776a3 ;
   background: #3e7b9f;
   color: #fff;
   cursor: pointer;
   overflow: hidden;
   transition: 0.5s;
   font-size: 20px;
}
button:hover{
   background: transparent;
   color: #3e7b9f;
   border: 2px solid #2970b3 ;

}
.social h5{
   font-size: 20px;
   text-align: center;
   justify-content: center;
   padding: 6px;
}
.fa{
      padding: 6px;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
}
.fa:hover {
   opacity: 0.7;
}
.fa-facebook {
   background: #3B5998;
   color: white;
 }
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 
 .fa-google {
   background: #dd4b39;
   color: white;
 }
 
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 
 .fa-youtube-play {
   background: #bb0000;
   color: white;
 }
 
 .fa-instagram {
   background: #125688;
   color: white;
 }
.footer{
   color: #489cd3a3;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   position: fixed;
   padding: 10px 10px 0px 10px;
   bottom: 0;
   width: 100%; 
   height: 40px;
   background: transparent;
}
